<% include ../partials/header %>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="caed-title">Depositors</h4>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Package</th>
                                        <th>Intial Investment</th>
                                        <th>Accumulated Interest</th>
                                        <th>Amount Withdrawal</th>
                                        <th>Date</th>
                                    </tr>
                                    <thead>

                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Investor</td>
                                                <td>2000000</td>
                                                <td>
                                                    <label>₦ 100000</label>
                                                </td>
                                                <td>2000000</td>
                                                <td class="text-danger">2018-10-02</td>
                                            </tr>
                                        </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>