<% include ../partials/header %>
<div class="main-panel">
        <div class="content-wrapper">
        <div class="card">
                    <div class="card-body">
                      <p class="card-description">
                        Select Investment Packages
                      </p>
                      <form class="forms-sample">
                      <div class="col-md-6">
                        <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Select Investment Package</label>
                                    <div class="col-sm-9">
                                    <select class="form-control">
                                        <option>Investor</option>
                                        <option>Partmer</option>
                                        <option>Russia</option>
                                    </select>
                                    </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Amount to Invest</label>
                                <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Investor</option>
                                    <option>Partmer</option>
                                    <option>Russia</option>
                                </select>
                                </div>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Select Payment Option/label>
                            <div class="col-sm-9">
                            <select class="form-control">
                                <option>Investor</option>
                                <option>Partmer</option>
                                <option>Russia</option>
                            </select>
                            </div>
                </div>
            </div>
                      </form>
                    </div>
                  </div>
        </div>
</div>
<% include ../partials/footer %>