<% include ../partials/header %>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <span class="ALert"></span>
                <p class="card-description">

                    <h4>Select Investment Packages</h4>

                </p>
                <form action="/user/invest" method="POST" class="forms-sample">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Amount to Invest</label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="7" class="form-control amountInvested" name="amount">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select Investment Package</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="package_plan" name="package[investtype]" disabled>
                                    <option value="">- Choose Option -</option>
                                    <option value="Investor">Investor</option>
                                    <option value="Partner">Partner</option>
                                    <option value="international">International</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none description">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="description" name="package[description]"
                                    readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none interest">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Interest</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="interest" name="package[interest]" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none duration">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Duration</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="duration" name="package[duration]" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select Payment Option</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="payment_opt" disabled>
                                    <option value="">- Choose Option -</option>
                                    <option value="bank">Bank</option>
                                    <option value="debt_card">Debt Card</option>
                                    <option value="crypt">Cryptocurrency</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none bank">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select Bank</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="select_bank" name="bankd[bankname]">
                                    <option value="">- Choose Option -</option>
                                    <option value="skye">Polaris Bank</option>
                                    <option value="fcmb">FCMB</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none acct-name">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="accountname" name="bankd[accountname]"
                                    readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none acct-no">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="accountnumber" name="bankd[accountno]"
                                    readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary invest-btn" value="Submit" disabled>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-primary mb-5">Available Investment Package</h2>
                <div class="wrapper d-flex justify-between">
                    <div class="form-check-inline">
                        <label class="form-check-label" for="check1">
                            <input type="radio" class="form-check-input" id="checkbox1" name="pack" value="something"
                                checked>Investor
                            Package
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="check2">
                            <input type="radio" class="form-check-input" id="checkbox2" name="pack" value="something">Partner
                            Package
                        </label>
                    </div>
                </div>
                <br>

                <div class="card">
                    <div class="card-body" id="div1">
                        <h4 class="card-title">investor Package</h4>
                        <ul class="list-star">
                            <li>Minimum Investment: N20,000</li>
                            <li>Maximum Investment: N1,000,000</li>
                            <li>Profit: 4% Daily and Minimum
                                ROI of 140% Monthly</li>
                            <li>Minimum Withdrawal: N5,000</li>
                            <li>Duration: 35 Working Days</li>
                            <li>Withdrawal Fee: N200</li>
                            <li>Enjoy 4% Referal Bonus</li>
                            <hr>
                            <p class="mb-0"><strong>Withdrawal date :</strong> Every 30th of each month<br><strong>RETURN
                                    OF
                                    YOUR
                                    CAPITAL AFTER
                                    210 DAYS.</strong></p>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body d-none" id="div2">
                        <h4 class="card-title">Partner Package</h4>
                        <ul class="list-star">
                            <li>Minimum Investment: N10,000</li>
                            <li>Maximum Investment: N5,000,000</li>
                            <li>Minimum Withdrawal: N5,000</li>
                            <li>Withdrawal Fee: N200</li>
                            <li>Duration: 35 Working Days</li>
                            <li>Enjoy 4% Referal Bonus</li>
                            <hr>
                            <p class="mb-0"><strong>Withdrawal date :</strong> Every 30th of each month<br><strong>RETURN
                                    OF
                                    YOUR
                                    CAPITAL AFTER
                                    210 DAYS.</strong></p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>



<script>
    $(document).ready(function () {
        var $plan;
        $('#package_plan').on('change', function (e) {
            $plan = $(this).find('option:selected').val();
            if ($plan == 'Investor') {
                $('.interest').removeClass('d-none');
                $('.duration').removeClass('d-none');
                $('.description').removeClass('d-none');
                $('#interest').val("4%");
                $('#duration').val("35 days");
                $('#description').val("4% Daily for 35 working days(ROI is 140%)");
            }
            if ($plan == 'Partner') {
                $('.interest').removeClass('d-none');
                $('.duration').removeClass('d-none');
                $('.description').removeClass('d-none');
                $('#interest').val("0.8%");
                $('#duration').val("210 days")
                $('#description').val("0.8% Daily for 210 days(ROI is 160%)");
            }
            if ($plan == 'international') {
                $('.interest').removeClass('d-none');
                $('.duration').removeClass('d-none');
                $('.description').removeClass('d-none');
                $('#interest').val("4%");
                $('#duration').val("35 days")
                $('#description').val("4% Daily for 35 days(ROI is 140%)");
            }

            if ($(this).find("option:first-child").val()) {
                $(".invest-btn").attr("disabled", "disabled");
            }

        })

        var $payPlan;
        $('#payment_opt').on('change', function (e) {
            $payPlan = $(this).find('option:selected').val();
            if ($payPlan == 'bank') {
                $('.bank').removeClass('d-none');
            }

            if ($payPlan == 'debt_card') {
                $('.bank').addClass('d-none');
                $('.acct-name').addClass('d-none');
                $('.acct-no').addClass('d-none');
            }
        })
        var $bankName;
        $('#select_bank').on('change', function () {
            $bankName = $(this).find('option:selected').val();
            if ($bankName == 'Skye') {
                $('.acct-name').removeClass('d-none');
                $('.acct-no').removeClass('d-none');
                $('#accountname').val("Neu Diamondhub Ventures");
                $('#accountnumber').val("4091046063");

            }
            if ($bankName == 'FCMB') {
                $('.acct-name').removeClass('d-none');
                $('.acct-no').removeClass('d-none');
                $('#accountname').val("Neu Diamondhub Ventures");
                $('#accountnumber').val("5529004017");

            }
            if ($bankName === $(this).find("option:first-child").val()) {
                $(".invest-btn").attr("disabled", "disabled");
            }
            $(".invest-btn").removeAttr("disabled");
        })

        $("#checkbox1, #checkbox2").change(function () {
            if ($("#checkbox1").is(":checked")) {
                $('#div1').removeClass('d-none');
                $('#div2').addClass('d-none');
                //console.log(1);
            }
            else {
                $('#div2').removeClass('d-none');
                $('#div1').addClass('d-none');
                //console.log(2);
            }
        });
    });
</script>
<% include ../partials/footer %>