<% include ../partials/header %>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <span class="ALert"></span>
                <p class="card-description">

                    <h4>Select Investment Packages</h4>

                </p>
                <form action="/user/invest" method="POST" class="forms-sample">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Amount to Invest</label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="7" class="form-control amountInvested" name="amount">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select Investment Package</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="package_plan" name="package[investtype]" disabled>
                                    <option value="">- Choose Option -</option>
                                    <option value="Investor">Investor</option>
                                    <option value="Partner">Partner</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none description">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="description" name="package[description]"
                                    readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none interest">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Interest</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="interest" name="package[interest]" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none duration">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Duration</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="duration" name="package[duration]" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select Payment Option</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="payment_opt" disabled>
                                    <option value="">- Choose Option -</option>
                                    <option value="bank">Bank</option>
                                    <option value="debt_card">Debt Card</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none bank">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select Bank</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="select_bank" name="bankd[bankname]">
                                    <option value="">- Choose Option -</option>
                                    <option value="skye">Skye Bank</option>
                                    <option value="fcmb">FCMB</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none acct-name">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="accountname" name="bankd[accountname]"
                                    readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-none acct-no">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="accountnumber" name="bankd[accountno]"
                                    readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary invest-btn" value="Submit" disabled>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var $plan;
        $('#package_plan').on('change', function (e) {
            $plan = $(this).find('option:selected').val();
            if ($plan == 'Investor') {
                $('.interest').removeClass('d-none');
                $('.duration').removeClass('d-none');
                $('.description').removeClass('d-none');
                $('#interest').val("4%");
                $('#duration').val("35 days");
                $('#description').val("4% Daily for 35 working days");
            }

            if ($plan == 'Partner') {
                $('.interest').removeClass('d-none');
                $('.duration').removeClass('d-none');
                $('.description').removeClass('d-none');
                $('#interest').val("0.8%");
                $('#duration').val("210 days")
                $('#description').val("0.8% Daily for 210 days");
            }
            if ($(this).find("option:first-child").val()) {
                $(".invest-btn").attr("disabled", "disabled");
            }

        })

        var $payPlan;
        $('#payment_opt').on('change', function (e) {
            $payPlan = $(this).find('option:selected').val();
            if ($payPlan == 'bank') {
                $('.bank').removeClass('d-none');
            }

            if ($payPlan == 'debt_card') {
                $('.bank').addClass('d-none');
                $('.acct-name').addClass('d-none');
                $('.acct-no').addClass('d-none');
            }
        })
        var $bankName;
        $('#select_bank').on('change', function () {
            $bankName = $(this).find('option:selected').val();
            if ($bankName == 'Skye') {
                $('.acct-name').removeClass('d-none');
                $('.acct-no').removeClass('d-none');
                $('#accountname').val("Neu Diamondhub Ventures");
                $('#accountnumber').val("4091046063");

            }
            if ($bankName == 'FCMB') {
                $('.acct-name').removeClass('d-none');
                $('.acct-no').removeClass('d-none');
                $('#accountname').val("Neu Diamondhub Ventures");
                $('#accountnumber').val("5529004017");

            }
            if ($bankName === $(this).find("option:first-child").val()) {
                $(".invest-btn").attr("disabled", "disabled");
            }
            $(".invest-btn").removeAttr("disabled");
        })
    });


</script>
<% include ../partials/footer %>
