<% include ../partials/header %>
  <div class="main-panel">
    <div class="content-wrapper">
    <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
              <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Select Package Type</label>
                  <div class="col-sm-9">
                      <select class="form-control" id="package_plan" name="package[investtype]">
                          <option value="">- Choose Option -</option>
                          <option value="investor">Investor</option>
                          <option value="partner">Partner</option>
                          <option value="international">International</option>
                      </select>
                  </div>
              </div>
          </div>

          <div class="col-md-12 d-none" id="packages">
              <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                          <div class="table-responsive">
                              <table class="table table-hover table-sm">
                                  <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Package</th>
                                        <th>Deposit</th>
                                        <th>Started</th>
                                        <th>Due</th>
                                        <th>Interest</th>
                                        <th>Current Earning</th>
                                        <th>Action</th>
                                    </tr>
                                  </thead>
                                      
                                  <tbody>
                                  
                                  </tbody>
                              </table>
                          </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="caed-title">History</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Package</th>
                      <th>Intial Investment</th>
                      <th>Accumulated Interest</th>
                      <th>Amount Withdrawal</th>
                      <th>Date</th>
                    </tr>
                    <thead>

                    <tbody>
                        <tr>
                          <td>1</td>
                          <td>Investor</td>
                          <td>2000000</td>
                          <td>
                            <label>₦ 100000</label>
                          </td>
                          <td>2000000</td>
                          <td class="text-danger">2018-10-02</td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% include ../partials/footer %>