<% include ../partials/header %>
  <div class="main-panel">
    <div class="content-wrapper">
    <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Checkbox Controls</h4>
          <p class="card-description">Checkbox and radio controls</p>
          <form class="forms-sample">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Default
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked=""> Checked
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" disabled=""> Disabled
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" disabled="" checked=""> Disabled checked
                    <i class="input-helper"></i></label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-radio">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="" checked=""> Option one
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-radio">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> Option two
                    <i class="input-helper"></i></label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-radio disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios2" id="optionsRadios3" value="option3" disabled=""> Option three is disabled
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-radio disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadio2" id="optionsRadios4" value="option4" disabled="" checked=""> Option four is selected and disabled
                    <i class="input-helper"></i></label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Checkbox Flat Controls</h4>
          <p class="card-description">Checkbox and radio controls with flat design</p>
          <form class="forms-sample">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-check form-check-flat">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Default
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-check form-check-flat">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked=""> Checked
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-check form-check-flat">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" disabled=""> Disabled
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-check form-check-flat">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" disabled="" checked=""> Disabled checked
                    <i class="input-helper"></i></label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-radio form-radio-flat">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="flatRadios1" id="flatRadios1" value="" checked=""> Option one
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-radio form-radio-flat">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="flatRadios2" id="flatRadios2" value="option2"> Option two
                    <i class="input-helper"></i></label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-radio form-radio-flat disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="flatRadios3" id="flatRadios3" value="option3" disabled=""> Option three is disabled
                    <i class="input-helper"></i></label>
                  </div>
                  <div class="form-radio form-radio-flat disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="flatRadios4" id="flatRadios4" value="option4" disabled="" checked=""> Option four is selected and disabled
                    <i class="input-helper"></i></label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% include ../partials/footer %>